* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: 0;
  letter-spacing: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #fff;
  font-family: Helvetica, sans-serif;
}
